/**
 * @name Slacker
 * @author Eramdam
 * @description Simple theme based on the new Slack redesign (2023)
 * @version 0.0.1
 */

/**
 * Main variables
 */
:root {
  --inside-window-spacing: 4px;
  --inside-window-border-radius: 6px;
  /** Only used for dark mode */
  --inside-window-border-color: #86858a4d;

  --inside-window-background-secondary: hsl(var(--primary-660-hsl) / 0.5);
  --header-height: 48px;
  --sidebar-width: 240px;
}
/**
 * Main app transparency
 */
html,
body,
.appMount_fae9dd,
.app_de4237,
.bg__12180,
nav.wrapper_a7e7a8,
.sidebar_ded4b5 {
  background: transparent;
}

/** Background gradient setup */
body > * {
  z-index: 1;
}
body::after {
  z-index: 0;
  content: "";
  inset: 0;
  position: absolute;
}
.theme-dark body::after {
  -webkit-mask: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7) 200px
  );
  background-image: radial-gradient(
      circle at 50% 50%,
      rgb(37, 36, 37) 20%,
      rgba(0, 0, 0, 0) 80%
    ),
    conic-gradient(
      from 45deg at 50% 50%,
      rgb(18, 18, 19) 0%,
      rgb(37, 36, 37) 25%,
      rgb(18, 18, 19) 50%,
      rgb(37, 36, 37) 75%,
      rgb(18, 18, 19) 100%
    );
}
.theme-light body::after {
  -webkit-mask: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.949) 200px
  );
  background-image: radial-gradient(
      circle at 50% 50%,
      rgb(234, 234, 234) 20%,
      rgba(0, 0, 0, 0) 80%
    ),
    conic-gradient(
      from 45deg at 50% 50%,
      rgb(203, 204, 207) 0%,
      rgb(234, 234, 234) 25%,
      rgb(203, 204, 207) 50%,
      rgb(234, 234, 234) 75%,
      rgb(203, 204, 207) 100%
    );
}

/* Transparent server sidebar + transparent server sidebar header */
:is(.theme-dark, .theme-light) .container__590e2,
.privateChannels__93473,
.header__104ca {
  background: transparent;
}
/* Remove shadow on server header */
.privateChannels__93473 .searchBar_e4ea2a,
.header__104ca {
  box-shadow: none;
}

/* Remove background on the user profile panel at the bottom of the sidebar */
.panels__58331[aria-label] {
  background: transparent;
}
.panels__58331[aria-label] .container_ca50b9 {
  margin-bottom: 0;
}

/* Re-apply a background to everything but the header of the sidebar/chat panel */
.theme-dark
  :is(.privateChannels__93473, .container__590e2)
  > :not(:first-child, [class^="unreadBottom_"]),
.theme-dark .panels__58331[aria-label] > [class^="container_"] {
  background: var(--inside-window-background-secondary);
  border-right: 1px solid var(--inside-window-border-color);
}
.theme-light .container__590e2 > :not(:first-child, [class^="unreadBottom_"]),
.theme-light .panels__58331[aria-label] > [class^="container_"] {
  background: var(--bg-overlay-2, var(--background-secondary));
}

.container__5c7e7 .tabBody_b3d268 .peopleColumn__51df3 {
  background: var(--bg-overlay-chat, var(--background-primary));
}

/* Transparent chat panel */
.chat__52833,
.container__5c7e7,
.container__5c7e7 > section[role="navigation"],
.chat__52833 .title_b7d661 {
  background: transparent;
}

/* Remove shadow on chat header */
.chat__52833 .title_b7d661 + .content__1a4fe::before,
.tabBody_b3d268::before {
  box-shadow: none;
}

/* Hide mask-gradient-thingy in channel titlebar */
.chat__52833
  .title_b7d661
  > [class^="upperContainer_"]
  > [class^="children_"]::after,
#app-mount
  > div.appAsidePanelWrapper__714a6
  > div.notAppAsidePanel__9d124
  > div.app_b1f720
  div.children__32014::after {
  background: none;
}

/**
 * Border-radius and margin stuff
 */
.chat__52833,
.sidebar_ded4b5,
.tabBody_b3d268 {
  margin-bottom: var(--inside-window-spacing);
}
.tabBody_b3d268,
.chat__52833 {
  margin-right: var(--inside-window-spacing);
  border-bottom-right-radius: var(--inside-window-border-radius);
}
.tabBody_b3d268,
.chat__52833 .title_b7d661 + .content__1a4fe {
  border-top-right-radius: var(--inside-window-border-radius);
  overflow: hidden;
}

.privateChannels__93473 [data-jump-section="global"],
.sidebar_ded4b5 #channels {
  border-top-left-radius: var(--inside-window-border-radius);
}

.sidebar_ded4b5 .panels__58331 {
  border-bottom-left-radius: var(--inside-window-border-radius);
  overflow: hidden;
}

/* Border stuff */
.theme-dark .tabBody_b3d268,
.theme-dark .chat__52833 {
  border-bottom: 1px solid var(--inside-window-border-color);
}
.theme-dark .tabBody_b3d268,
.theme-dark .chat__52833 .title_b7d661 + .content__1a4fe {
  border-top: 1px solid var(--inside-window-border-color);
  border-right: 1px solid var(--inside-window-border-color);
}

.theme-dark .privateChannels__93473 [data-jump-section="global"],
.theme-dark .sidebar_ded4b5 #channels {
  border-top: 1px solid var(--inside-window-border-color);
  border-left: 1px solid var(--inside-window-border-color);
}
.theme-dark .sidebar_ded4b5 .panels__58331 {
  border-left: 1px solid var(--inside-window-border-color);
  border-bottom: 1px solid var(--inside-window-border-color);
}

.theme-light .container__037ed::after {
  background-color: transparent;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  top: var(--header-height);
  left: var(--custom-list-items-list-item-width);
  right: var(--inside-window-spacing);
  bottom: var(--inside-window-spacing);
  border-radius: var(--inside-window-border-radius);
  box-shadow: -4px -4px 16px rgba(0, 0, 0, 0.1);
}

.theme-light .sidebar_ded4b5::before {
  content: "";
  position: absolute;
  clip-path: inset(
    var(--header-height) 0 calc(var(--inside-window-spacing) * 11)
      calc(var(--inside-window-spacing) * 11)
  );
  left: 0;
  width: var(--sidebar-width);
  bottom: calc(var(--inside-window-spacing) * -10);
  top: 0;
  z-index: 9;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

/* Change icon background in servers list */
.theme-dark
  [data-dnd-name]
  svg
  foreignObject
  [data-list-item-id]:not([class*="selected_"])
  div[aria-hidden],
.theme-dark [data-list-item-id="guildsnav___home"] > div,
.theme-dark [data-list-item-id="guildsnav___create-join-button"],
.theme-dark [data-list-item-id="guildsnav___guild-discover-button"] {
  background: rgba(0, 0, 0, 0.4);
}
/* Separator between main "Discord" icon and the rest of the servers sidebar */
.guildSeparator_dcb3cc {
  opacity: 0;
}

.expandedFolderBackground__1bec6 {
  background-color: transparent;
}

/** 
 * Hide server banners
*/
.bannerVisible__191f6 .headerContent_ee8727 {
  filter: none;
}
.theme-light .boostedGuildTierMutedIconWithVisibleBanner_bb2713,
.theme-dark .boostedGuildTierMutedIconWithVisibleBanner_bb2713,
.theme-dark .flowerStarContainer_d8d14b {
  color: var(--white-500);
}
.theme-dark .container__590e2 .flowerStarContainer_d8d14b {
  color: var(--interactive-muted);
}
.theme-light .headerContent_ee8727 {
  color: var(--header-primary);
}
.theme-light .container__590e2 .flowerStarContainer_d8d14b {
  color: var(--background-accent) !important;
}
.sidebar_ded4b5 .hasBanner_e78601 ~ #channels > ul > div[aria-hidden],
.container__590e2 .animatedContainer__341f6 {
  display: none;
}
